.about {
    &_container {
        max-width: 1111px;
        padding-bottom: 5em;
        margin: 0 auto;
        
        &-content {
            margin: 0 auto;
        }
        &--content {
            margin-right: auto;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            place-content: space-between;
            div {
                margin: 0.5em 0;
                width: 49%;
                background: $bg-light;
                @extend .flex;
                justify-content: flex-start;
                @include bp(mob-sml) {
                    width: 100%;
                }
            }
            p {
                padding: 1.5em;
                // @extend .flex;
            }
        }
        h2 {
            font-size: 40px;
            line-height: 48px;
            color: $font-dark;
            @include bp(mob-sml) {
                text-align: center;
            }
        }
        a {
            text-decoration: none;
            &:hover {
                transition: 0.2s;
                color: $font-hover;
            }
        }
        p {
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
        }
        h3 {
            font-size: 24px;
            line-height: 30px;
            font-weight: 700;
            color: $font-dark;
        }

        figure {
            margin: 0;
            padding: 0 0 1em;
            text-align: center;
        }
       
    }

    .quote {
        padding: 0;
    }
}