.services {
    background-color: $bg-light;
    article {
        @extend .container-width;
        display: block;
    }

    .services-info {
        h2 {
            padding-bottom: 25px;
            margin-bottom: 15px;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            border-bottom: 1px solid $divider;
            @include bp(tab) {
                font-size: 30px;
                line-height: 38px;
            }
        }
        &_links {
            .services-link-items {
                margin-right: auto;
                display: flex;
                flex-wrap: wrap;
                p {
                    flex: 0 1 100%;
                    margin: 0.5em 0;
                    @include bp(tab) {
                        flex: 0 1 25%;
                    }
                }
                a {
                    color: $font-dark;
                    text-decoration: none;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 600;
                    img {
                        position: absolute;
                        right: 1.5em;
                        @include bp(tab) {
                            position: relative;
                            right: -12px;
                        }
                    }
                }
            }
        }
    }
    
}